[[source]]
url = "http://artifactory.dlogics.com:8081/artifactory/api/pypi/pypi/simple"
verify_ssl = false
name = "pypi"

[packages]
dl-conan-build-tools = "~=2.1"
invoke = "~=1.2"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
